<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Vynograd\OrderPublisher\Api\Data\PaidOrder\MessageInterface" type="Vynograd\OrderPublisher\Model\PaidOrder\Message" />
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="order_state_plugin" type="Vynograd\OrderPublisher\Plugin\OrderState"/>
    </type>

</config>